<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>15021225225-cn176i51ov0csc1bgtgrkh2lj2qsdhco.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.15021225225-cn176i51ov0csc1bgtgrkh2lj2qsdhco</string>
	<key>API_KEY</key>
	<string>AIzaSyACyJ-bNeXSqo5BJQsCGWagk7ui6MXP2cI</string>
	<key>GCM_SENDER_ID</key>
	<string>15021225225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>asistencia.ios</string>
	<key>PROJECT_ID</key>
	<string>ulima-asistencia-74ad8</string>
	<key>STORAGE_BUCKET</key>
	<string>ulima-asistencia-74ad8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:15021225225:ios:939e71afd00fab16024fd8</string>
	<key>DATABASE_URL</key>
	<string>https://ulima-asistencia-74ad8.firebaseio.com</string>
</dict>
</plist>